.entry-cover img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
